.DS_Store
node_modules
package-lock.json
yarn.lock
storybook-static/

public/*
!public/index.html
!public/global.css
!public/favicon.png
!public/icon.png
!public/manifest.json
!public/assets/

# Service Worker
**/workbox*
**/sw*
.vercel
