/* Global css */
:root{
    --purple: #5B4DBE;
    --green: #38925C;
    --orange: #FF6724;
    --yellow: #F6C01C;
    --h1: 48px;
    --h2: 36px;
    --h3: 27px;
    --h4: 22px;
    --p: 16px;
    --p2: 12px;
    --title: 'Montserrat', sans-serif;
    --normal: 'Open Sans', sans-serif;
}

*{
    font-family: 'Open Sans', sans-serif;
}
